<div class="card">
	<h3 class="text-white fs-5 fw-light px-3 py-2 mb-2 rounded-top bg-warning">Neuste Kommentare</h3>
	<ul class="list-unstyled">
		{% for comment in latestComments %}
			<li class="px-3 mb-2 hover:bg-gray-300" style="line-height: 1.3rem;">
				<a class="fs-6 text-truncate text-black d-block" href="{{ path('show_rock', { 'areaSlug': comment.areaSlug, slug: comment.rockSlug }) }}">
					<span class="d-inline-block me-2" style="width: 8px; height: 8px; border-radius: 50%; border: 4px solid #a16207;"></span>
					<span class="fw-normal pr-2">
						{{ comment.routeName }}
						({{ comment.rockName }})
					</span>
					<span class="fw-light d-block ms-2 text-truncate" style="padding-left: 12px;">{{ comment.commentComment|raw }}</span>
					<span class="fw-light d-block ms-2 text-truncate" style="padding-left: 12px; color: rgba(0,0,0,.6);">
						{{ comment.username }}
						<i>({{ comment.commentDate|date("d/m/Y", "Europe/Berlin") }})</i>
					</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
