<div id="{{ route.routeName|custom_replace }}" class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="{{ route.routeName|custom_replace }}" data-modal-route-information-target="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ route.routeName }}
					({{ route.routeGrade }})</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="fw-bold mb-0 d-lg-none">
					{% if route.routefirstAscent %}
						Erstbegeher:
						{{ route.routefirstAscent }}
					{% endif %}
					{% if route.routeyearFirstAscent %}
						{{ route.routeyearFirstAscent }}
					{% endif %}
				</p>
				{% if route.routeComment %}
					{% for commentData in route.routeComment %}
						{{ commentData.comment|raw }}
						<p class="mt-2 fst-italic text-sm">
							{% if commentData.username %}
								{{ commentData.username }}
								{% if commentData.date %}
									{{ commentData.date|date("F j, Y") }}
								{% endif %}
							{% endif %}
						</p>
						{% if not loop.last %}
							<hr/>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
