
<div
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    data-modal-route-description-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModal{{ route.routeName|custom_replace }}Label">
                        {{ route.routeName }} 
                        <span data-controller="routeparams" data-routeparams-rating="{{ route.routeRating }}" data-routeparams-protection="{{ route.routeProtection }}">
                            <span data-routeparams-target="star"></span>
                            <span data-routeparams-target="protection"></span>
                        </span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="font-size: .85rem;">{% if route.routefirstAscent %} Erstbegeher: {{ route.routefirstAscent }} {% endif %} {% if route.routeyearFirstAscent %}{{ route.routeyearFirstAscent }}{% endif %}</p>
                    <p style="font-size: .85rem;">{{ route.routeDescription }}</p>
                </div>
            </div>
        </div>
    </div>
</div>