<header style="height: 50px;">
	<nav class="navbar bg-white fixed-top" style="height: 50px;">
		<div class="container">
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<a class="offcanvas-title text-black chelsea-market-regular" id="offcanvasNavbarLabel" href="{{path('index')}}">munichclimbs</a>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						{% for area in sideBar %}
							<li class="nav-item my-2">
								<a class="nav-link text-black" data-bs-toggle="collapse" href="#{{ area.name|custom_replace }}" title="Klettergebiet {{ area.name }}" role="button" aria-expanded="false" aria-controls="{{ area.name|custom_replace }}">
									<img src="https://www.munichclimbs.de/build/images/navigationThumbs/{{ area.image }}.webp" alt="Übersicht Klettergebiete {{ area.name }}." class="rounded me-3" style="width: 18px; height: 18px;" loading="lazy">
									<span class="text-truncate">{{ area.name }}</span>
								</a>
								<div class="collapse" id="{{ area.name|custom_replace }}">
									{% if area.rocks is not empty %}
										<ol class="list-group list-group-numbered" style="margin-left: 30px">
											{% for rock in area.rocks %}
												<li class="list-group-item list-group-item-action d-flex border-0 px-2">
													<a href="{{ path('show_rock', { 'areaSlug': area.slug, slug: rock.slug } ) }}" title="Link zum Klettergebiet: {{ rock.name }}" class="nav-link text-black py-0 d-flex justify-content-between align-items-center w-100 ms-2" data-area="Konstein" data-rocks-information="{{ rock.name }}" data-banned="0">{{ rock.name }}</a>
												</li>
											{% endfor %}
										</ol>
									{% endif %}
								</div>
							</li>
						{% endfor %}
						<hr/>
						<li class="nav-item my-2">
							<a class="nav-link text-black d-flex align-items-center" href="{{ path('app_login') }}" title="Login">
								<div class="user d-inline-block me-3"></div>
								<span class="text-truncate">Login</span>
							</a>
						</li>
						<hr/>
						<li class="nav-item my-2">
							<a class="nav-link text-black d-flex align-items-center" href="{{ path('datenschutz') }}">
								<div class="chart d-inline-block me-3"></div>
								<span class="text-truncate">Datenschutz</span>
							</a>
						</li>
						<li class="nav-item my-2">
							<a class="nav-link text-black d-flex align-items-center" href="{{ path('impressum') }}">
								<div class="chart d-inline-block me-3"></div>
								<div class="text-truncate">Impressum</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container p-0">
				<div class="row">
					<div class="col-1 col-md-3 d-flex align-items-center">
						<button class="navbar-toggler p-0 bg-none border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
							<div class="menu"></div>
						</button>
						<a href="{{path('index')}}" aria-label="Startseite munichclimbs" class="pb-lg-1 text-dark fs-5 ms-3 chelsea-market-regular">
							<span class="d-none d-md-inline-block">munichclimbs</span>
						</a>
					</div>
					<div class="{% if app.request.attributes.get('_route') == 'show_rock' and rocks is defined and rocks is not empty or app.request.attributes.get('_route') == 'show_rock_en' and rocks is defined and rocks is not empty %}col-9{% else %}col-11{% endif %} col-md-6">
						<form class="w-100 mb-0">
							<div data-controller="autocomplete" data-autocomplete-url-value="/search" style="position: relative;">
								<input data-autocomplete-target="input" data-action="input->autocomplete#search" name="q" placeholder="{{"search"|trans}}" type="search" class="form-control form-control-sm border-black text-black w-100">
								<ul class="list-group" data-autocomplete-target="results" style="max-height: 200px; max-height: 200px; display: block; position: absolute; width: 100%;"></ul>
							</div>
						</form>
					</div>
					<div class="col-2 col-md-3 d-flex align-items-center justify-content-end">
						{% if app.request.attributes.get('_route') == 'show_rock' and rocks is defined and rocks is not empty or app.request.attributes.get('_route') == 'show_rock_en' and rocks is defined and rocks is not empty  %}
							{% for rock in rocks %}
								{{ include('partials/_language_switch.html.twig', { hasTranslationDescription: hasTranslationDescription }) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
