<header>
	<nav id="sidenav" class="sidenav sidenav-primary ps" data-mdb-hidden="true" data-mdb-accordion="true" style="width: 240px; height: 100vh; position: fixed; transition: all 0.3s linear 0s;">
        <a class="ripple d-flex justify-content-left p-4 text-dark" style="font-family: 'Chelsea Market', cursive;" href="{{path('frontend')}}">munichclimbs</a>
        <ul class="sidenav-menu">
            {% for area in sideBar %}
                <li class="sidenav-item">
                    <a class="sidenav-link collapsed ripple-surface" href="#sidenav-collapse-1-0-0" title="Klettergebiet {{ area.name }}" data-mdb-toggle="collapse" role="button" aria-expanded="false">
                        <picture>
                            <source srcset="https://www.munichclimbs.de/images/navigationThumbs/{{ area.image }}.webp" type="image/webp">
                            <source srcset="https://www.munichclimbs.de/images/navigationThumbs/{{ area.image }}.jpg" type="image/jpeg"> 
                            <img src="https://www.munichclimbs.de/images/navigationThumbs/{{ area.image }}.jpg" alt="Übersicht Klettergebiete {{ area.name }}." class="rounded me-3" style="width: 18px; height: 18px;">
                        </picture>
                        <span class="text-truncate">{{ area.name }}</span>
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    {% if area.rocks is not empty %}
                        <ul class="sidenav-collapse collapse" id="sidenav-collapse-1-0-0">
                            {% for rock in area.rocks %}
                                <li class="sidenav-item"><a href="{{ path('show_rock', { slug: rock.slug } ) }}" title="Link zum Klettergebiet: {{ rock.name }}" class="sidenav-link ripple-surface" data-area="Konstein" data-rocks-information="{{ rock.name }}" data-banned="0">{{ rock.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            <li class="sidenav-item">
                <a class="sidenav-link ripple-surface" href="/Datenschutz">
                    <i class="fas fa-chart-area fa-fw me-3"></i>
                    <span class="text-truncate">Datenschutz</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link ripple-surface" href="/Impressum">
                    <i class="fas fa-chart-area fa-fw me-3"></i>
                    <span class="text-truncate">Impressum</span>
                </a>
            </li>
        </ul>
    </nav>
	<nav id="main-navbar" class="bg-white fixed-top">
		<div class="container py-2">
			<div class="row align-items-center">
				<div class="col-3">
					<div class="d-flex align-items-center">
						<button data-mdb-toggle="sidenav" data-mdb-target="#sidenav" class="btn shadow-0 p-0 me-3" aria-controls="#sidenav" aria-haspopup="true">
							<i class="fas fa-bars fa-xl text-black"></i>
						</button>
						<a class="pb-lg-1 text-dark fs-5" style="font-family: 'Chelsea Market', cursive;" href="{{path('frontend')}}">munichclimbs</a>
					</div>
				</div>
				<div class="col-9 d-flex justify-content-end">
					{#<form class="w-100">
						<div 
                            class="input-group d-flex flex-nowrap"
                            {{ stimulus_controller('autocomplete', {
                                url: path('frontend', { preview: 1 })
                            })}}
                        >
							<input 
                                name="q" 
                                class="form-control" 
                                palceholder="Finde Route...."
                                type="search"
                                data-autocomplete-target="input"
                            />
							<div 
                                class="search-preview"
                                data-autocomplete-target="results"
                            ></div>
						</div>
					</from>#}

                    {# <form class="w-100">
                        <div
                            class="input-group"
                            {{ stimulus_controller('search-preview', {
                                url: path('frontend')
                            }) }}
                        >
                            <input
                                name="q"
                                value="{{ searchTerm }}"
                                placeholder="Search products..."
                                type="search"
                                class="form-control"
                                data-action="search-preview#onSearchInput"
                            >
                            <div
                                class="search-preview"
                                data-search-preview-target="result"
                            ></div>
                        </div>
                    </form> #}
                    <a href="{{ path('app_login') }}" title="Login">
                        <svg data-slot="icon" fill="none" stroke-width="2" stroke="currentColor" class="text-black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="width: 23px; height: 23px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                        </svg>
                    </a>
				</div>
			</div>
		</div>
	</nav>
</header>