{% for rock in rocks %}
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title fw-bold" id="offcanvasRightLabel">{{ rock.rockName }}</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAllgemein" aria-expanded=" true" aria-controls="collapseallgemein">
							{{"general.information"|trans}}
						</button>
					</h2>
					<div id="collapseAllgemein" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
						<div class="accordion-body p-0">
							<table class="table table-striped table-sm fw-medium small">
								<tr>
									<td colspan="2">
										<div class="d-flex me-2">
											<div class="d-flex flex-column me-2">
												<div class="text-center bg-warning px-2 py-1 text-white" style="font-size: 14px;">{{"amount"|trans}}</div>
												<div class="text-center text-white bg-warning mt-1">
													<div class="px-2 py-1" style="font-size: 14px;">
														{{ rock.amountRoutes }}
													</div>
												</div>
											</div>
											<div class="d-flex flex-column me-2">
												<div style="background-color:#15803d; font-size: 14px;" class="text-center px-2 py-1 text-white">1 - 5</div>
												<div class="text-center text-white bg-gray-400 mt-1">
													<div style="background-color:#15803d; font-size: 14px;" class=" px-2 py-1">{{ rock.amountEasy }}</div>
												</div>
											</div>
											<div class="d-flex flex-column me-2">
												<div style="background-color:#a16207; font-size: 14px;" class="text-center px-2 py-1 text-white">6 - 7</div>
												<div class="text-center text-white bg-gray-400 mt-1">
													<div style="background-color:#a16207; font-size: 14px;" class=" px-2 py-1">{{ rock.amountMiddle }}</div>
												</div>
											</div>
											<div class="d-flex flex-column me-2">
												<div style="background-color:#b91c1c; font-size: 14px;" class="text-center px-2 py-1 text-white">8 - 11</div>
												<div class="text-center text-white bg-gray-400 mt-1">
													<div style="background-color:#b91c1c; font-size: 14px;" class=" px-2 py-1">{{ rock.amountHard }}</div>
												</div>
											</div>
											<div class="d-flex flex-column me-2">
												<div style="background-color:black; font-size: 14px;" class="text-center px-2 py-1 text-white">{{"projects"|trans}}</div>
												<div class="text-center text-white bg-gray-400 mt-1">
													<div style="background-color:black; font-size: 14px;" class=" px-2 py-1">{{ rock.amountProjects }}</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>{{"height"|trans}}:</td>
									<td>{{ rock.rockHeight }}
										m</td>
								</tr>
								<tr>
									<td>{{"orientation"|trans}}:</td>
									<td>{{ rock.rockOrientation }}</td>
								</tr>
								<tr>
									<td>{{"sunny"|trans}}:</td>
									<td>
										{% if rock.rockSunny == 1 %}
											{{"sunny.property.sun"|trans}}
										{% elseif rock.rockSunny == 2 %}
											{{"sunny.property.partly"|trans}}
										{% else %}
											{{"sunny.property.sunny"|trans}}
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>{{"child.friendly"|trans}}:</td>
									<td>
										{% if rock.rockChild == 1 %}
											{{"child.friendly.good"|trans}}
										{% else %}
											{{"child.friendly.bad"|trans}}
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>{{"rain.proof"|trans}}:</td>
									<td>
										{% if rock.rockRain == 1 %}
											{{"rain.proof.good"|trans}}
										{% elseif rock.rockRain == 2 %}
											{{"rain.proof.medium"|trans}}
										{% elseif rock.rockRain == 3 %}
											{{"rain.proof.not"|trans}}
										{% else %}
											{{"rain.proof.bad"|trans}}
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>{{"gps"|trans}}:</td>
									<td>{{ rock.rockLat }},
										{{ rock.rockLng }}</td>
								</tr>
								<tr>
									<td>{{"season"|trans}}:</td>
									<td>{{ rock.rockSeason}}</td>
								</tr>
								{% if rock.rockZone %}
									<tr>
										<td>{{"zone"|trans}}:</td>
										<td>{{ rock.rockZone }}</td>
									</tr>
								{% endif %}
							</table>
						</div>
					</div>
				</div>
				{% if rock.rockDescription %}
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBeschreibung" aria-expanded="false" aria-controls="collapseBeschreibung">
								{{ 'description'|trans }}
							</button>
						</h2>
						<div id="collapseBeschreibung" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body fw-medium py-0">
								{% if description is defined %}
									<p class="small">{{description}}</p>
								{% endif %}

							</div>
						</div>
					</div>
				{% endif %}
				{% if rock.rockAccess %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingZustieg">
							<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZustieg" aria-expanded="false" aria-controls="collapseZustieg">
								{{ 'arrival.and.access'|trans }}
							</button>
						</h2>
						<div id="collapseZustieg" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body fw-medium py-0 small">
								{{ rock.rockAccess|raw }}
							</div>
						</div>
					</div>
				{% endif %}
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRockMap" aria-expanded="false" aria-controls="collapseRockMap">
							{{ 'map'|trans }}
						</button>
					</h2>
					<div id="collapseRockMap" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body p-0">
							<div id="rockMap" class="z-10 mb-3" style="width: 100%; aspect-ratio: 16/16;">
								{{ include('partials/_rockMap.html.twig') }}
							</div>
						</div>
					</div>
				</div>
				{% if rock.rockNature %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingNaturschutz">
							<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNaturschutz" aria-expanded="false" aria-controls="collapseNaturschutz">
								{{"climbing.regulations"|trans}}
							</button>
						</h2>
						<div id="collapseNaturschutz" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body fw-medium py-0 small">
								{{ rock.rockNature|raw }}
							</div>
						</div>
					</div>
				{% endif %}
				{% if jsonData %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingBilder">
							<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBilder" aria-expanded="false" aria-controls="collapseBilder">
								{{"images"|trans}}
							</button>
						</h2>
						<div id="collapseBilder" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
							<div class="accordion-body row mx-0" data-controller="off-canvas-gallery">
								{% for data in jsonData %}
									<div class="col-3 col-md-4 mb-1">
										<a class="lg-item" data-target="lg-item" data-src="{{ data.src }}">
											<img src="{{ data.thumb }}" class="w-100 shadow-1-strong mb-3" alt="{{ data.subHtml }}"/>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingBilder">
						<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLegend" aria-expanded="false" aria-controls="collapseLegend">
							{{"explanation.symbols"|trans}}
						</button>
					</h2>
					<div id="collapseLegend" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body row mx-0" data-controller="off-canvas-gallery">
							<table class="table table-sm fw-medium small">
								<tr>
									<td>
										<div class="star d-inline-block"></div>
									</td>
									<td>{{"nice.route"|trans}}</td>
								</tr>
								<tr>
									<td>
										<div class="d-flex">
											<div class="star d-inline-block"></div>
											<div class="star d-inline-block"></div>
										</div>
									</td>
									<td>{{"very.nice.route"|trans}}</td>
								</tr>
								<tr>
									<td>
										<div class="d-flex">
											<div class="star"></div>
											<div class="star"></div>
											<div class="star"></div>
										</div>
									</td>
									<td>{{"dream.route"|trans}}</td>
								</tr>
								<tr>
									<td>
										<div class="trash"></div>
									</td>
									<td>{{"shit.route"|trans}}</td>
								</tr>
								<tr>
									<td>
										<div class="exclamation d-inline-block"></div>
									</td>
									<td>{{"bad.routeprotection"|trans}}</td>
								</tr>
								<tr>
									<td>
										<div class="skull d-inline-block"></div>
									</td>
									<td>{{"dangerous.routeprotection"|trans}}</td>
								</tr>
								<tr>
									<td>
										<div class="loose-rock d-inline-block"></div>
									</td>
									<td>{{"rock.quality"|trans}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endfor %}
