{% extends '@!EasyAdmin/layout.html.twig' %}

{% block page_title %}
	Munichclimbs Dashboard
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-12">
			<h3 class="mb-3">Munichclimbs</h3>
			<table class="mb-5 table">
				<thead>
					<tr>
						<th>Gebiete</th>
						<th>Felsen</th>
						<th>Touren</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{getAreas}}</td>
						<td>{{getRocks}}</td>
						<td>{{getRoutes}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-12 col-md-4">{{ render_chart(chart) }}
		</div>
		<div class="col-12 col-md-4">{{ render_chart(chartBernd) }}
		</div>
		<div class="col-12 col-md-4">
			<button id="update-grades-button" class="btn btn-primary">Update Grades</button>
		</div>

		<div class="col-12 my-5">
			<select class="form-select mb-3" id="areaSelect" data-controller="backend-climbed-routes">
				<option value="">Alle</option>
				{% for area in areas %}
					<option value="{{ area.id }}">{{ area.name }}</option>
				{% endfor %}
			</select>
			Bisher gekletterte Routen in diesem Gebiet:
			<span id="climbedRoutesCount">{{ climbedRoutesInArea|length }}</span>
		</div>
	</div>

	 <script>
			document.getElementById('update-grades-button').addEventListener('click', function() {
			    fetch('/update-grades')
			        .then(response => response.json())
			        .then(data => console.log(data));
			});
			</script>

{% endblock %}
