{{ form_start(form) }}
    <div class="grid grid-cols-12 gap-4">
        {{ form_row(form.id) }}
        {{ form_row(form.area) }}
        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.nr) }}
        {{ form_row(form.description) }}
        {{ form_row(form.access) }}
        {{ form_row(form.nature) }}
        {{ form_row(form.zone) }}
        {{ form_row(form.banned) }}
        {{ form_row(form.height) }}
        {{ form_row(form.orientation) }}
        {{ form_row(form.season) }}
        {{ form_row(form.child_friendly) }}
        {{ form_row(form.sunny) }}
        {{ form_row(form.rain) }}
        {{ form_row(form.image) }}
        {{ form_row(form.header_image) }}
        {{ form_row(form.topo) }}
        {{ form_row(form.lat) }}
        {{ form_row(form.lng) }}
        {{ form_row(form.online) }}
    </div>
    <button 
        class="inline-flex items-center bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-3 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
        </svg>
        {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}
