<nav class="bg-white dark:bg-gray-800 shadow">
    <div class="container mx-auto py-3">
        <div class="md:flex md:items-center md:justify-between">
            <div class="flex justify-between items-center">
                <div class="text-xl font-semibold text-gray-700">
                    <a class="text-gray-800 dark:text-white text-xl font-bold md:text-2xl hover:text-gray-700 dark:hover:text-gray-300" href="/" style="font-family: 'Chelsea Market', cursive;">munichclimbs</a>
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="hidden md:flex md:items-center md:justify-between flex-1">
                {% if is_granted('ROLE_USER') %}
                <div class="flex flex-col -mx-4 md:flex-row md:items-center md:mx-8">
                    <a href="{{ path('area_index') }}" class="mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 dark:text-gray-200 font-medium rounded-md hover:bg-gray-300 dark:hover:bg-gray-700">Gebiete</a>
                    <a href="{{ path('rock_index') }}" class="mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 dark:text-gray-200 font-medium rounded-md hover:bg-gray-300 dark:hover:bg-gray-700">Felsen</a>
                    <a href="{{ path('routes_index') }}" class="mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 dark:text-gray-200 font-medium rounded-md hover:bg-gray-300 dark:hover:bg-gray-700">Touren</a>
                </div>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <div class="flex items-center mt-4 md:mt-0">
                        <a href="{{ path('user_index') }}" class="mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 dark:text-gray-200 font-medium rounded-md hover:bg-gray-300 dark:hover:bg-gray-700">user</a>
                        <a href="{{ path('app_logout') }}" class="mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 dark:text-gray-200 font-medium rounded-md hover:bg-gray-300 dark:hover:bg-gray-700">LOGOUT</a>
                    </div>
                {% else %}
                <div class="flex items-center mt-4 md:mt-0">
                    <a href="{{ path('app_login') }}" class="mx-2 mt-2 md:mt-0 px-2 py-1 text-sm text-gray-700 dark:text-gray-200 font-medium rounded-md hover:bg-gray-300 dark:hover:bg-gray-700">LOGIN</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>