{% extends 'base.html.twig' %}

{% block title %}Munichclimbs{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main>
		<div class="container my-5">
			<section>
				<div class="dpl-newmdb-docs-alert-advanced pb-3">
					<div 
						class="p-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between" 
						style="background-color: rgba(255, 255, 255, 0.6);"
						role="alert" 
						data-mdb-color="light"
					>
						<h1 class="h2 mb-0 fw-bold text-black">Klettergebiete um München</h1>
						<div>
							<button type="button" class="btn btn-primary btn-floating" data-bs-toggle="collapse" data-bs-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
								<i class="fas fa-map-marked text-white"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="collapse mt-3" id="collapseMap">
					<div id="map" class="z-10 mb-3" style="width: 100%; height: 500px;">
						{{ include('pageParts/mainMap.html.twig') }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							{% for area in areas %}
								<div class="col-12">
									<div class="card mb-4 p-0">
										<div class="row g-0">
											<div class="col-md-6">
												{% if area.image %}
													<img 
														class="img-fluid rounded-start" 
														src="{{ asset('build/images/areas/' ~ area.image ~ '.webp') }}" 
														data-src="" 
														alt="Übersicht Klettergebiete {{ area.name }}"
													/>
												{% else %}
													<div class="d-flex justify-content-center align-items-center" style="min-height: 220px;">
														<i class="fas fa-images fa-10x"></i>
													</div>
												{% endif %}
												<a href="{{ path('show_rocks', { slug: area.slug }) }}">
													<div class="mask"></div>
													<div class="hover-overlay">
														<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
													</div>
												</a>
											</div>
											<div class="col-md-6">
												<div class="card-body p-3">
													<h5 class="card-title mb-0">
														<a href="{{ path('show_rocks', { slug: area.slug } ) }}" title="Klettergebiet {{ area.name }} " data-area=" {{ area.name }} " class=" text-black stretched-link">{{ area.name }}</a>
													</h5>
													<hr class="my-2"/>
													<ul class="list-unstyled text-black mb-0">
														<li class="mb-2">Felsen
															<span class="ms-3 badge badge-dark">{{ area.rocks }}</span>
														</li>
														<li>Touren
															<span class="badge bg-black ms-2">{{ area.routes }}</span>
														</li>
													</ul>
													<hr class="my-2"/>
													<div class="d-flex justify-content-between">
														<div class="d-flex flex-column">
															<div 
																class="text-center px-2 py-1 small text-white"
																style="background-color:#15803d; font-size: .75rem;"
															>1 - 5</div>
															<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																<div style="background-color:#15803d;" class="px-2 py-1">
																	{{ area.amountEasy }}													
																</div>
															</div>
														</div>
														<div class="d-flex flex-column">
															<div 
																class="text-center px-2 py-1 small text-white"
																style="background-color:#075985; font-size: .75rem;" 
															>6 - 7</div>
															<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																<div style="background-color:#075985;" class="px-2 py-1">
																	{{ area.amountMiddle }}
																</div>
															</div>
														</div>
														<div class="d-flex flex-column">
															<div 
																class="text-center px-2 py-1 small text-white"
																style="background-color:#b91c1c; font-size: .75rem;" 
															>8 - 11</div>
															<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																<div style="background-color:#b91c1c;" class="px-2 py-1">
																	{{ area.amountHard }}
																</div>
															</div>
														</div>
														<div class="d-flex flex-column">
															<div 
																class="text-center px-2 py-1 small text-white"
																style="background-color:black; font-size: .75rem;" 
															>Proj.</div>
															<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																<div style="background-color:black;" class="px-2 py-1">
																	{{ area.amountProjects }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-4">
						{{ include('pageParts/latestRoutes.html.twig') }}
						{{ include('pageParts/bannedRocks.html.twig') }}
					</div>
				</div>
			</section>
		</div>
		{% include 'partials/_footer.html.twig' with {'areas': areas} %}
	</main>
{% endblock %}
