{% extends 'base.html.twig' %}

{% block meta_tags %}
	<meta name="description" content="Klettern rund um München. Hier werden die Klettergebiete rund um München vorgestellt: {% for area in areas %}{{area.name}}{% if loop.last == false  %}, {% else %}{% endif%}{% endfor %}"/>
	<meta name="robots" content="index,follow"/>
	<meta property="og:site_name" content="Munichclimbs">
	<meta property="og:title" content="Munichclimbs"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://munichclimbs.de/"/>
	<meta property="og:description" content="Klettern rund um München. Hier werden die Klettergebiete rund um München vorgestellt: {% for area in areas %}{{area.name}}{% if loop.last == false  %}, {% else %}{% endif%}{% endfor %}"/>
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main>
		<div class="container my-3">
			<section>
				<div class="p-3 mb-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between bg-white">
					<h1 class="h2 mb-0 fw-bold text-black">Klettergebiete um München</h1>
					{% include 'partials/_collapseMap.html.twig' with { collapseId: 'collapseMap', ariaControls: 'collapseMap' } %}
				</div>
				<div class="collapse mt-3" id="collapseMap">
					<div id="map" class="z-10 mb-3" style="width: 100%; height: 500px;">
						{{ include('pageParts/mainMap.html.twig') }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							{% for area in areas %}
								<div class="col-12">
									<a class="d-block" href="{{ path('show_rocks', { slug: area.slug } ) }}" title="Klettergebiet {{ area.name }}">
										<div class="card mb-4 p-0 overflow-hidden">
											<div class="row g-0">
												<div class="col-md-6">
													{% set url = 'https://www.munichclimbs.de/uploads/areas/' %}
													{% include 'partials/_lazy-load-images.html.twig' with {
														'area': area,
														'media': {
															'(min-width: 1200px)': url ~ area.image,
															'(min-width: 800px)': url ~ area.image,
														},
													} %}
												</div>
												<div class="col-md-6">
													<div class="card-body p-3">
														<h5 class="card-title mb-0">
															{{ area.name }}
														</h5>
														<hr class="my-2"/>
														<ul class="list-unstyled text-black mb-0">
															<li class="mb-2">Felsen
																<span class="badge bg-black ms-2">{{ area.rocks }}</span>
															</li>
															<li>Touren
																<span class="badge bg-black ms-2">{{ area.routes }}</span>
															</li>
														</ul>
														<hr class="my-2"/>
														<div class="d-flex justify-content-between">
															<div class="d-flex flex-column">
																<div class="text-center px-2 py-1 small text-white" style="background-color:#15803d; font-size: .75rem;">1 - 5</div>
																<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																	<div style="background-color:#15803d;" class="px-2 py-1">
																		{{ area.amountEasy }}
																	</div>
																</div>
															</div>
															<div class="d-flex flex-column">
																<div class="text-center px-2 py-1 small text-white" style="background-color:#a16207; font-size: .75rem;">6 - 7</div>
																<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																	<div style="background-color:#a16207;" class="px-2 py-1">
																		{{ area.amountMiddle }}
																	</div>
																</div>
															</div>
															<div class="d-flex flex-column">
																<div class="text-center px-2 py-1 small text-white" style="background-color:#b91c1c; font-size: .75rem;">8 - 11</div>
																<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																	<div style="background-color:#b91c1c;" class="px-2 py-1">
																		{{ area.amountHard }}
																	</div>
																</div>
															</div>
															<div class="d-flex flex-column">
																<div class="text-center px-2 py-1 small text-white" style="background-color:black; font-size: .75rem;">Proj.</div>
																<div class="text-center text-white bg-gray-400 mt-1" style="font-size: .75rem;">
																	<div style="background-color:black;" class="px-2 py-1">
																		{{ area.amountProjects }}
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="gap-3 row-gap-3" style="display: grid;">
							{{ include('partials/_banned-rocks.html.twig') }}
							{{ include('partials/_support-project.html.twig') }}
							{{ include('partials/_latest-routes.html.twig') }}
							{{ include('partials/_latest-comments.html.twig') }}
						</div>
					</div>
				</div>
			</section>
		</div>
		{{ render(controller('App\\Controller\\FrontendController::recentArticles')) }}
	</main>
{% endblock %}
