{% extends 'base.html.twig' %}

{% block title %}Klettergebiete um München
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main>
		<div class="container my-3">
			<section>
				<span class="dpl-newmdb-docs-alert-advanced">
					<div class="alert shadow-3 d-flex justify-content-between alert-light" style="background-color: rgba(255, 255, 255, 0.6);" role="alert" data-mdb-color="light">
						<h1 class="h2 mb-0 fw-bold text-black">Neuste Routen</h1>
					</div>
				</span>
			</section>
			<section>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div class="datatable" data-mdb-striped="true" data-mdb-pagination="false">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="th-sm">
																<i class="fas fa-align-justify"></i>
															</th>
															<th class="th-sm">Tour</th>
															<th class="th-sm">Schwierigkeit</th>
															<th class="th-sm">Erstbegeher</th>
															<th class="th-sm">Fels</th>
														</tr>
													</thead>
													<tbody>

														{% for latestRoute in latestRoutes %}
															<tr>
																<td>{{loop.index}}</td>
																<td>
																	<a href="{{ path('show_rock', { 'areaSlug': latestRoute.area.name, slug: latestRoute.rock.slug }) }}" title="Tourenname: {{ latestRoute.name }}, Fels: {{ latestRoute.rock }}" class="text-primary">{{ latestRoute.name }}


																	</a>
																	{% set star = '<i class="fas fa-star" style="color: rgb(202 138 4)"></i>' %}
																	{% if latestRoute.rating == 1 %}
																		{{ star|raw }}
																	{% elseif latestRoute.rating == 2 %}
																		{{ star|raw }}{{ star|raw }}
																	{% elseif latestRoute.rating == 3 %}
																		{{ star|raw }}{{ star|raw }}{{ star|raw }}
																	{% endif %}
																	{% if latestRoute.protection == 2 %}
																		<i class="fa fa-exclamation-triangle text-danger"></i>
																	{% elseif latestRoute.protection == 3 %}
																		<i class="fa fa-ambulance text-danger"></i>
																	{% endif %}
																</td>
																<td>{{ latestRoute.grade }}</td>
																<td>{{ latestRoute.firstAscent }}
																	{{ latestRoute.yearFirstAscent }}</td>
																<td>{{ latestRoute.rock }}</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	{% include 'partials/_footer.html.twig' with {'areas': areas} %}
{% endblock %}
