{% extends 'base.html.twig' %}

{% block title %}Munichclimbs | {{ areaName }}{% endblock %}

{% block body %}
    {{ include('pageParts/navigation.html.twig') }}
    <main class="pt-3">
        <div class="container my-5">
            <section>
                <div class="bg-image pb-3 rounded">
                    <div class="p-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between" style="background-color: rgba(255, 255, 255, 0.6);">
                        <h1 class="h3 mb-0 fw-bold text-black">
                            {{ areaName }}
                        </h1>
                        <div>
                            <button type="button" class="btn btn-primary btn-floating" data-mdb-toggle="collapse" data-mdb-target="#collapseAreaMap" aria-expanded="false" aria-controls="collapseAreaMap">
                                <i class="fas fa-map-marked text-white"></i>
                            </button>
                        </div>
                    </div>
				</div>

                <div class="collapse mt-3" id="collapseAreaMap">
					<div id="areaMap" class="z-10 mb-3" style="width: 100%; height: 500px;">
						{{ include('pageParts/areaMap.html.twig') }}
					</div>
				</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-white">
                            <div class="table-responsive">
                                <table class="table table-striped ">
                                    <thead>
                                        <tr>
                                            <th class="th-sm"><i class="fas fa-align-justify"></i></th>
                                            <th class="th-sm">Fels</th>
                                            <th class="th-sm">Routen</th>
                                            <th class="th-sm">Höhe</th>
                                            <th class="th-sm">Kinder</th>
                                            <th class="th-sm">Regensicher</th>
                                            <th class="th-sm">Ausrichtung</th>
                                            <th class="th-sm">Sonnig</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rock in rocks %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>
                                                    <a href="{{ path('show_rock', { slug: rock.rockSlug }) }}" class="flex text-sm d-inline-block text-truncate" style="max-width: 150px;">{{rock.rockName}}</a>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="text-end me-3" style="width: 1rem;">
                                                            {{ rock.amountRoutes }} 
                                                            {% set percent = 100 / rock.amountRoutes %}
                                                            {% set easy = percent * rock.amountEasy %}
                                                            {% set middle = percent * rock.amountMiddle %}
                                                            {% set hard = percent * rock.amountHard %}
                                                            {% set project = percent * rock.amountProjects %}
                                                        </span>
                                                        <div class="progress" style="height: 1rem; width: 6rem;">
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ easy }}%; background-color: #15803d" 
                                                                aria-valuenow="{{ easy }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ middle }}%; background-color: #075985" 
                                                                aria-valuenow="{{ middle }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ hard }}%; background-color: #b91c1c" 
                                                                aria-valuenow="{{ hard }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ project }}%; background-color: black" 
                                                                aria-valuenow="{{ project }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ rock.rockHeight }} m
                                                </td>
                                                <td>
                                                    <i 
                                                        class="fas fa-baby-carriage fa-lg" 
                                                        {% if rock.rockChild == 2 %} 
                                                            style="transform: rotate(45deg) scaleX(-1);" 
                                                        {% elseif rock.rockChild == 3 %} 
                                                            style="transform: rotate(90deg) scaleX(-1);" 
                                                        {% else %} 
                                                            style="transform: rotate(0deg) scaleX(-1);" 
                                                        {% endif %}
                                                        
                                                    ></i>
                                                </td>
                                                <td>
                                                    <i 
                                                        {% if rock.rockRain < 2 %} 
                                                            class="fas fa-umbrella fa-lg" 
                                                            style="color: rgb(20 83 45);" 
                                                        {% else %} 
                                                            class="far fa-thumbs-down fa-lg" 
                                                            style="color: rgb(185 28 28);" 
                                                        {% endif %}
                                                    ></i>
                                                </td>
                                                <td>{{ rock.rockOrientation }}</td>
                                                <td>
                                                    <i 
                                                        {% if rock.rockSunny >= 1 %} 
                                                            class="fas fa-sun fa-lg" 
                                                            style="color: rgb(161 98 7);" 
                                                        {% else %} 
                                                            class="fas fa-umbrella-beach fa-lg" 
                                                        {% endif %}
                                                    ></i>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'partials/_footer.html.twig' with {'areas': areas} %}
    </main>
{% endblock %}