{% extends 'base.html.twig' %}

{% block title %}Munichclimbs | {{ slug }}{% endblock %}

{% block bodyclass %}scrollspy-example{% endblock %}
{% block body %}
	{{ include('pageParts/navigation.html.twig') }}
    <main class="pt-3">
		<div class="container my-5">
		{% for rockAttribute in rock %}		
			<section>
				<div
					class="bg-image py-3 rounded d-flex align-items-start background-image-height"
					style="background-image: url('https://www.munichclimbs.de/images/headerImages/{{ rockAttribute.headerImage }}.webp')"
				>
					<div 
						class="p-3 shadow-3 alert-light d-flex justify-content-between w-100"
						style="background-color: rgba(255, 255, 255, 0.6);"
					>
						<h1 class="h2 mb-0 fw-bold text-black ">
							{{ rockAttribute.name }}
						</h1>
						<div class="align-self-start">
							<button 
								type="button" 
								class="btn btn-sm btn-primary btn-floating"
								data-mdb-toggle="modal" 
								data-mdb-target="#infoModal" 
							>
								<i class="fas fa-info text-white"></i>
							</button>
							<button 
								type="button" 
								class="btn btn-sm btn-primary btn-floating ms-2"
								data-mdb-toggle="modal" 
								data-mdb-target="#exampleModal" 
							>
								<i class="far fa-images text-white"></i>
							</button>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-12">
						{% set currentDate =  "now"|date("z") %}
						{% if rockAttribute.banned == 1 and currentDate < 181 %}
							<div class="alert alert-danger my-3" role="alert" data-mdb-color="danger">
								<strong class="font-bold">Jahreszeitliche Sperrung!</strong>
								<span class="block sm:inline">{{ rockAttribute.name }} ist leider noch bis zum 30.06. gesperrt!</span>
							</div>
						{% endif %}
					</div>
				</div>
			</section>
		{% endfor %} 
			<section>
				<div class="row">
					<div class="col-md-9">
						<section>
							{#<?php
								$valuesToReplace = array(' ' => '', '\'' => '', 'ß' => 'ss', '.' => '');
								for ($valueTopo = 1; $valueTopo <= $num_rows; $valueTopo++) {
									$getValuesTopo	= getParamsWithTopo($rockName, $valueTopo);
									$nameTopo		= $getValuesTopo->fetch();
							?>#}
								<div class="card mt-3" style="overflow: hidden;">
									<div class="card-body p-0 p-md-3" style="overflow: hidden;">
										<section {#id="<?php echo strtr(strtolower($nameTopo['topoName']), $valuesToReplace); ?>"#}>
											{#<?php 
												if(isset($nameTopo['topoWithSector'])) {
											?>
												<h3 class="pb-md-1 px-2 pt-2 pt-md-0 px-md-0"><?php echo $nameTopo['topoName']; ?></h3>
											<?php
												}
											?>
											<?php 
												if($nameTopo['topoImage'] != NULL && $nameTopo['topoSVG'] == NULL) {
											?>
												<img 
													src="<?php echo BASE_URL; ?>images/topos/<?php echo $nameTopo['topoImage']; ?>" 
													alt="Klettern im <?php echo $nameTopo['areaName']; ?> Topo zum Kletterfels <?php echo $nameTopo['topoName']; ?>" 
													class="img-fluid mb-3">
											<?php 
												} elseif(isset($nameTopo['topoSVG'])) {
													echo '<div class="mb-3">';
													echo $nameTopo['topoSVG'];
													echo '</div>';
												}
											?>#}
											<div class="table-responsive">
												<table class="table table-striped table-sm ">
												
												{% for route in routes %}
													<tr>
														<td>{{loop.index}}</td>
														<td>
															{{ route.name }} 
															{% set star = '<i class="fas fa-star" style="color: rgb(202 138 4)"></i>' %}
															{% if route.rating == 1 %}
																{{ star|raw }}
															{% elseif route.rating == 2 %}
																{{ star|raw }}{{ star|raw }}
															{% elseif route.rating == 3 %}
																{{ star|raw }}{{ star|raw }}{{ star|raw }}
															{% endif %}
															{% if route.protection == 2 %}
																<i class="fa fa-exclamation-triangle text-danger"></i>
															{% elseif route.protection == 3 %}
																<i class="fa fa-ambulance text-danger"></i>
															{% endif %}
															{% set videos = videoRepository.findVideosByParams(route.area.id, route.rock.id, route.id) %}
															{% if videos is not empty %}
																{% for video in videos %}
																	<a href="{{ video.videoLink }}" alt="Video von Route {{ route.name }} " target="_blank">
																		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="text-black"><path fill="currentColor" d="M15 8v8H5V8h10m1-2H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4V7c0-.55-.45-1-1-1z"/></svg>
																	</a>
																{% endfor %}
															{% endif %}
														</td>
														<td>{{ route.grade }}</td>
														<td class="d-none d-lg-table-cell" style="white-space: nowrap;">
															{{ route.firstAscent }} {% if route.yearFirstAscent %}{{ route.yearFirstAscent }}{% endif %}
														</td>
														<td style="padding-top: 0.2rem;">
															{% if route.description %}
																<button 
																	type="button" 
																	class="btn btn-sm btn-primary btn-floating"
																	data-mdb-toggle="modal" 
																	data-mdb-target="#infoModal{{ route.name|replace({' ': '', '!': '','&':''}) }}"
																	style="width: 1.125rem;height: 1.125rem; background: transparent;"
																>
																	<i class="fas fa-info fa-xs " style="width: 1.125rem;line-height: 1.12rem;"></i>
																</button>
																<div class="modal fade" id="infoModal{{ route.name|replace({' ': '', '!': '','&':''}) }}" tabindex="-1" aria-labelledby="infoModal{ route.name|replace({' ': '', '!': '','&':''}) }}Label" aria-hidden="true">
																	<div class="modal-dialog modal-dialog-centered">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" id="infoModal{{ route.name|replace({' ': '', '!': '','&':''}) }}Label">
																					{{ route.name }} 
																					{% if route.rating == 1 %}
																						{{ star|raw }}
																					{% elseif route.rating == 2 %}
																						{{ star|raw }}{{ star|raw }}
																					{% elseif route.rating == 3 %}
																						{{ star|raw }}{{ star|raw }}{{ star|raw }}
																					{% endif %}
																				</h5>
																				<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
																			</div>
																			<div class="modal-body">
																				<p class="d-lg-none" style="font-size: .85rem;">Erstbegeher: {{ route.firstAscent }} {% if route.yearFirstAscent %}{{ route.yearFirstAscent }}{% endif %}</p>
																				<p style="font-size: .85rem;">{{ route.description }}</p>
																			</div>
																		</div>
																	</div>
																</div>
															{% endif %}
														</td>
													</tr>
												{% endfor %} 
												</table>
											</div>
										</section>
									</div>
								</div>
						</section>
					</div>
						<div class="col-md-3 d-none d-lg-block position-relative">
							<div id="scrollspy-collapsible" class="sticky-top" style="top: 80px;">
								<div class="card mt-3">
									<div class="card-body">
										<ul 
											class="nav flex-column nav-pills menu-sidebar" 
											data-mdb-allow-hashes="true"
										>
											{# <?php
												$i = 0;
												for ($valueTopo = 1; $valueTopo <= $num_rows; $valueTopo++) {
													$getValuesTopo	= getParamsWithTopo($rockName, $valueTopo);
													$nameTopo		= $getValuesTopo->fetch();
											?> #}
											<li class="nav-item">
												<a 
													class="nav-link" 
													{# href="#<?php echo strtr(strtolower($nameTopo['topoName']), $valuesToReplace); ?>" #}
													data-mdb-smooth-scroll="smooth-scroll"
													data-mdb-easing="easeInOutQuart"
												{# ><?php echo $nameTopo['topoName']; ?></a> #}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		{% for rockAttribute in rock %}
				<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Allgemeine Informationen  {{ rockAttribute.name }}</h5>
								<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="accordion" id="accordionExample">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingAllgemein">
										<button
											class="accordion-button"
											type="button"
											data-mdb-toggle="collapse"
											data-mdb-target="#collapseAllgemein"
											aria-expanded="true"
											aria-controls="collapseAllgemein"
										>
											Allgemein
										</button>
										</h2>
										<div id="collapseAllgemein" class="accordion-collapse collapse show" aria-labelledby="headingAllgemein" data-mdb-parent="#accordionExample">
											<div class="accordion-body p-0">
												
												<table class="table table-striped table-sm">
													<tr>
														<td colspan="2">
															<div class="d-flex me-2">
																<div class="d-flex flex-column me-2">
																	<div class="text-center bg-warning px-2 py-1 text-white" style="font-size: 14px;">Anzahl</div>
																		<div class="text-center text-white bg-warning mt-1">
																			<div class="px-2 py-1" style="font-size: 14px;">
																				{{ rockAttribute.routes|length }} 
																			</div>
																		</div>
																	</div>
																	<div class="d-flex flex-column me-2">
																		<div style="background-color:#15803d; font-size: 14px;" class="text-center px-2 py-1 text-white" >1 - 5</div>
																		<div class="text-center text-white bg-gray-400 mt-1">
																			<div style="background-color:#15803d; font-size: 14px;" class=" px-2 py-1">
																				{{ belowSix }}
																			</div>
																		</div>	
																	</div>	
																	<div class="d-flex flex-column me-2">
																		<div style="background-color:#075985; font-size: 14px;" class="text-center px-2 py-1 text-white" >6 - 7</div>
																		<div class="text-center text-white bg-gray-400 mt-1">
																			<div style="background-color:#075985; font-size: 14px;" class=" px-2 py-1">
																				{{ belowEight }}
																			</div>
																		</div>	
																	</div>	
																	<div class="d-flex flex-column me-2">
																		<div style="background-color:#b91c1c; font-size: 14px;" class="text-center px-2 py-1 text-white" >8 - 11</div>
																		<div class="text-center text-white bg-gray-400 mt-1">
																			<div style="background-color:#b91c1c; font-size: 14px;" class=" px-2 py-1">
																				{{ greaterEight }}
																			</div>
																		</div>	
																	</div>	
																	<div class="d-flex flex-column me-2">
																		<div style="background-color:black; font-size: 14px;" class="text-center px-2 py-1 text-white" >Proj.</div>
																		<div class="text-center text-white bg-gray-400 mt-1">
																			<div style="background-color:black; font-size: 14px;" class=" px-2 py-1">
																				{{ projects }}
																			</div>
																		</div>	
																	</div>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>Höhe:</td>
														<td>{{ rockAttribute.height}} m</td>
													</tr>
													<tr>
														<td>Ausrichtung:</td>
														<td>{{ rockAttribute.orientation}}</td>
													</tr>
													<tr>
														<td>Sonnig:</td>
														<td>
															{% if rockAttribute.sunny == 1 %}
																keine Sonne
															{% elseif rockAttribute.sunny == 2 %}
																teils Sonne
															{% else %}
																sonnig
															{% endif %}
														</td>
													</tr>
													<tr>
														<td>Kindereignung:</td>
														<td>
															{% if rockAttribute.childFriendly == 1 %}
																gut geeignet
															{% elseif rockAttribute.childFriendly == 2 %}
																teils geeignet
															{% elseif rockAttribute.childFriendly == 3 %}
																ungeeignet
															{% else %}
																keine Angaben
															{% endif %}
														</td>
													</tr>
													<tr>
														<td>Regengeschützt:</td>
														<td>
															{% if rockAttribute.rain == 1 %}
																regensicher
															{% elseif rockAttribute.rain == 2 %}
																kaum regensicher
															{% elseif rockAttribute.rain == 3 %}
																nicht regensicher
															{% endif %}
														</td>
													</tr>
													<tr>
														<td>GPS:</td>
														<td>{{ rockAttribute.lat }}, {{ rockAttribute.lng }}</td>
													</tr>
													<tr>
														<td>Jahreszeit:</td>
														<td>{{ rockAttribute.season}}</td>
													</tr>
													{% if rockAttribute.zone %}
													<tr>
														<td>Zone:</td>
														<td>{{ rockAttribute.zone }}</td>
													</tr>
													{% endif %}
												</table>
											</div>
										</div>
									</div>
									{% if rockAttribute.description %}
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingBeschreibung">
											<button
												class="accordion-button collapsed"
												type="button"
												data-mdb-toggle="collapse"
												data-mdb-target="#collapseBeschreibung"
												aria-expanded="false"
												aria-controls="collapseBeschreibung"
											>
												Beschreibung
											</button>
											</h2>
											<div id="collapseBeschreibung" class="accordion-collapse collapse" aria-labelledby="headingBeschreibung" data-mdb-parent="#accordionExample">
												<div class="accordion-body">
													<p class="fs-6">{{ rockAttribute.description }}</p>
												</div>
											</div>
										</div>
									{% endif %}
									{% if rockAttribute.access %}
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingZustieg">
											<button
												class="accordion-button collapsed"
												type="button"
												data-mdb-toggle="collapse"
												data-mdb-target="#collapseZustieg"
												aria-expanded="false"
												aria-controls="collapseZustieg"
											>
												Zustieg
											</button>
											</h2>
											<div id="collapseZustieg" class="accordion-collapse collapse" aria-labelledby="headingZustieg" data-mdb-parent="#accordionExample">
											<div class="accordion-body">
												{{ rockAttribute.access }}
											</div>
											</div>
										</div>
									{% endif %}
									{% if rockAttribute.nature %}
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingNaturschutz">
											<button
												class="accordion-button collapsed"
												type="button"
												data-mdb-toggle="collapse"
												data-mdb-target="#collapseNaturschutz"
												aria-expanded="false"
												aria-controls="collapseNaturschutz"
											>
												Naturschutz
											</button>
											</h2>
											<div id="collapseNaturschutz" class="accordion-collapse collapse" aria-labelledby="headingNaturschutz" data-mdb-parent="#accordionExample">
											<div class="accordion-body">
												{{ rockAttribute.nature }}
											</div>
											</div>
										</div>
									{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %} 
		{{ include('pageParts/footer.html.twig') }}
    </main>
{% endblock %}