{% extends 'base.html.twig' %}

{% block meta_tags %}
	<meta name="description" content="{% for rock in rocks %}{{ rock.rockDescription}}{% endfor %}"/>
	<meta name="robots" content="index,follow"/>
	<meta property="og:site_name" content="Munichclimbs | {{ rockName }}">
	<meta property="og:title" content="Munichclimbs | {{ rockName }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://munichclimbs.de/Kletterfels/{{ slug }}" />
	<meta property="og:description" content="{% for rock in rocks %}{{ rock.rockDescription}}{% endfor %}"/>
	<meta name="keywords" content="Klettertouren Burgstein: {% for route in routes %}{{ route.routeName}} {{ route.routeGrade}}{% if loop.last == false  %}, {% else %}{% endif %}{% endfor %}"/>
{% endblock %}

{% block title %}Munichclimbs | {{ slug }}{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
    <main>
		<div class="container my-3">
			{% for rock in rocks %}
				<section>
					<div
						class="bg-image py-3 rounded d-flex align-items-start background-image-height"
						style="background-image: url('https://www.munichclimbs.de/images/headerImages/{{ rock.rockheaderImage }}.webp')"
					>
						<div 
							class="p-3 shadow-3 alert-light d-flex justify-content-between w-100"
							style="background-color: rgba(255, 255, 255, 0.6);"
						>
							<h1 class="h2 mb-0 fw-bold text-black ">
								{{ rock.rockName }} 
								<nav class="mt-1" aria-label="breadcrumb">
									<ol class="breadcrumb text-black fw-normal mb-0" style="font-size: 12px">
										<li class="breadcrumb-item"><a class="text-primary" href="{{path('frontend')}}"><i class="fas fa-home text-primary"></i></a></li>
										<li class="breadcrumb-item"><a href="{{ path('show_rocks', { slug: rock.areaSlug }) }}">{{ rock.areaName }}</a></li>
										<li class="breadcrumb-item active text-black" aria-current="page">{{ rock.rockName }}</li>
									</ol>
								</nav>
							</h1>
							<div class="d-flex items-center align-self-start">
								<div {{ stimulus_controller('modal-form') }}>
									<button 
										class="btn btn-sm btn-primary btn-floating"
										data-action="modal-form#openModal"
									>
										<i class="fas fa-info text-white"></i>
									</button>
									{{ include('pageParts/_modal.html.twig', [ rocks ]) }}
								</div>
								{# <button 
									type="button" 
									class="btn btn-sm btn-primary btn-floating ms-2"
									data-mdb-toggle="modal" 
									data-mdb-target="#exampleModal" 
								>
									<i class="far fa-images text-white"></i>
								</button> #}
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="row">
						<div class="col-md-12">
							{% set currentDate =  "now"|date("z") %}
							{% if rock.rockBanned == 1 and currentDate < 181 %}
								<div class="alert alert-danger my-3" role="alert" data-mdb-color="danger">
									<strong class="font-bold">Jahreszeitliche Sperrung!</strong>
									<span class="block sm:inline">{{ rock.rockName }} ist leider noch bis zum 30.06. gesperrt!</span>
								</div>
							{% endif %}
						</div>
					</div>
				</section>
			{% endfor %} 
			<section>
				<div class="row">
					<div class="col-md-9">
						<section>
							{% set groupedRoutes = {} %}
							{% for routeData in routes %}
								{% set topoName = routeData.topoName %}
								{% set topoNumber = routeData.topoNumber %}
								{% set topoSvg = routeData.topoSvg %}
								{% 
									set groupedRoutes = groupedRoutes|merge({
										(topoName): groupedRoutes[topoName]|default([])|merge([{'routeName': routeData.routeName, 'routeRating': routeData.routeRating, 'routeProtection': routeData.routeProtection, 'areaId': routeData.areaId, 'rockId': routeData.rockId, 'routeId': routeData.routeId, 'routefirstAscent': routeData.routefirstAscent, 'routeyearFirstAscent': routeData.routeyearFirstAscent, 'routeDescription': routeData.routeDescription, 'routeGrade': routeData.routeGrade, 'topoSvg': routeData.topoSvg}])
									}) 
								%}
							{% endfor %}
							{% for topoName, routes in groupedRoutes %}
								<div class="card mt-3">
									<div class="card-body p-0 p-md-3">
										<section id="{{ topoName|custom_replace}}">
											<h3 class="pb-md-1 px-2 pt-2 pt-md-0 px-md-0">{{ topoName }}</h3>
											<div class="py-3">
												{% set hasPrinted = false %}
												{% for route in routes %}
													{% if not hasPrinted %}
															{% if route.topoSvg is not empty %}
																{{ route.topoSvg|raw }}
															{% endif %}
														{% set hasPrinted = true %}
													{% endif %}
												{% endfor %}
											</div>
											<div class="table-responsive">
												<table class="table table-striped table-sm">
													<tbody>{% for route in routes %}
														<tr>
															<td>{{loop.index}}</td>
															<td>
																{{ route.routeName }} 
																<span data-controller="routeparams" data-routeparams-rating="{{ route.routeRating }}" data-routeparams-protection="{{ route.routeProtection }}">
																	<span data-routeparams-target="star"></span>
																	<span data-routeparams-target="protection"></span>
																</span>
																{% set videos = videoRepository.findVideosByParams(route.areaId, route.rockId, route.routeId) %}
																{% if videos is not empty %}
																	{% for video in videos %}
																		<a href="{{ video.videoLink }}" alt="Video von Route {{ route.routeName }} " target="_blank">
																			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="text-black"><path fill="currentColor" d="M15 8v8H5V8h10m1-2H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4V7c0-.55-.45-1-1-1z"/></svg>
																		</a>
																	{% endfor %}
																{% endif %}
															</td>
															<td>{{ route.routeGrade }}</td>
															<td class="d-none d-lg-table-cell" style="white-space: nowrap;">
																{{ route.routefirstAscent }} {% if route.routeyearFirstAscent %}{{ route.routeyearFirstAscent }}{% endif %}
															</td>
															<td style="padding-top: 0.2rem;">
																{% if route.routeDescription %}
																	<div {{ stimulus_controller('modal-route-description') }}>
																		<button 
																			class="btn btn-sm btn-primary btn-floating"
																			data-action="modal-route-description#openModal"
																			style="width: 1.125rem;height: 1.125rem; background: transparent;"
																		>
																			<i class="fas fa-info fa-xs" style="width: 1.125rem;line-height: 1.12rem;"></i>
																		</button>
																		{{ include('partials/_modalRouteDescription.html.twig', [ route ]) }}
																	</div>
																{% endif %}
															</td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
											</div>
										</section>
									</div>
								</div>
							{% endfor %}
						</section>
					</div>
						{% if topos is not empty %}
							<div class="col-md-3 d-none d-lg-block position-relative">
								<div id="scrollspy-collapsible" class="sticky-top" style="top: 80px;">
									<div class="card mt-3">
										<div class="card-body">
											<ul 
												class="nav flex-column nav-pills menu-sidebar" 
											>
												{% for topo in topos %}
													<li class="nav-item">
														<a 
															class="nav-link" 
															href="#{{ topo.topoName|custom_replace }}"
														>
															{{ topo.topoName }}
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</section>
		{% include 'partials/_footer.html.twig' with {'areas': areas} %}
    </main>
{% endblock %}