{% extends 'base.html.twig' %}

{% block title %}Munichclimbs | {{ areaName }}{% endblock %}

{% block body %}
    {{ include('pageParts/navigation.html.twig') }}
    <main class="pt-3">
        <div class="container my-5">
            <section>
                <div class="bg-image pb-3 rounded">
                    <div class="p-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between" style="background-color: rgba(255, 255, 255, 0.6);">
                        <h1 class="h3 mb-0 fw-bold text-black">
                            {{ areaName }}							
                        </h1>
                        <div>
                            <button type="button" class="btn btn-primary btn-floating" data-mdb-toggle="collapse" data-mdb-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
                                <i class="fas fa-map-marked text-white"></i>
                            </button>
                        </div>
                    </div>
				</div>

                <div class="collapse mt-3" id="collapseMap">
					<div id="map" class="z-10 mb-3" style="width: 100%; height: 500px;">
						{{ include('pageParts/areaMap.html.twig') }}
					</div>
				</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="datatable" data-mdb-striped="true" data-mdb-pagination="false">
                            <div class="table-responsive">
                            
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="th-sm"><i class="fas fa-align-justify"></i></th>
                                            <th class="th-sm">Fels</th>
                                            <th class="th-sm">Routen</th>
                                            <th class="th-sm">Höhe</th>
                                            <th class="th-sm">Kinder</th>
                                            <th class="th-sm">Regensicher</th>
                                            <th class="th-sm">Ausrichtung</th>
                                            <th class="th-sm">Sonnig</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x, rock in rocks %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>
                                                    <a 
                                                        href="{{ path('show_rock', { slug: rock.slug }) }}"
                                                        class="flex text-sm p-3 {% if loop.index is not divisible by(2) %} bg-gray-200 {% endif %} hover:bg-gray-400"
                                                    >{{rock.name}}</a>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="text-end me-3" style="width: 1rem;">
                                                            {{rock.routes|length}} 
                                                            {% set percent = 100 / rock.routes|length %}
                                                            {% set easy = percent * belowSix[x] %}
                                                            {% set middle = percent * belowEight[x] %}
                                                            {% set hard = percent * greaterEight[x] %}
                                                            {% set project = percent * projects[x] %}
                                                        </span>
                                                        <div class="progress" style="height: 1rem; width: 6rem;">
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ easy }}%; background-color: #15803d" 
                                                                aria-valuenow="{{ easy }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ middle }}%; background-color: #075985" 
                                                                aria-valuenow="{{ middle }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ hard }}%; background-color: #b91c1c" 
                                                                aria-valuenow="{{ hard }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                            <div 
                                                                class="progress-bar" 
                                                                role="progressbar" 
                                                                style="width: {{ project }}%; background-color: black" 
                                                                aria-valuenow="{{ project }}" 
                                                                aria-valuemin="0" 
                                                                aria-valuemax="100"
                                                            ></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ rock.height }} m
                                                </td>
                                                <td>
                                                    <i 
                                                        class="fas fa-baby-carriage fa-lg" 
                                                        {% if rock.childFriendly == 2 %} 
                                                            style="transform: rotate(45deg) scaleX(-1);" 
                                                        {% elseif rock.childFriendly == 3 %} 
                                                            style="transform: rotate(90deg) scaleX(-1);" 
                                                        {% else %} 
                                                            style="transform: rotate(0deg) scaleX(-1);" 
                                                        {% endif %}
                                                        
                                                    ></i>
                                                </td>
                                                <td>
                                                    <i 
                                                        {% if rock.rain < 2 %} 
                                                            class="fas fa-umbrella fa-lg" 
                                                            style="color: rgb(20 83 45);" 
                                                        {% else %} 
                                                            class="far fa-thumbs-down fa-lg" 
                                                            style="color: rgb(185 28 28);" 
                                                        {% endif %}
                                                    ></i>
                                                </td>
                                                <td>{{ rock.orientation }}</td>
                                                <td>
                                                    <i 
                                                        {% if rock.sunny >= 1 %} 
                                                            class="fas fa-sun fa-lg" 
                                                            style="color: rgb(161 98 7);" 
                                                        {% else %} 
                                                            class="fas fa-umbrella-beach fa-lg" 
                                                        {% endif %}
                                                    ></i>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {{ include('pageParts/footer.html.twig') }}
    </main>
{% endblock %}