{% extends 'base.html.twig' %}
{% set setTitle = 'Munichclimbs | Klettergebiet ' ~ areaName ~	' | Fels ' ~ slug|custom_replace %}

{% block meta_tags %}
	<meta name="robots" content="index,follow"/>
	<meta property="og:site_name" content="{{ setTitle }}"/>
	<meta property="og:title" content="{{ setTitle }}"/>
	<meta property="place:location:longitude" content="{{ rockLng }}">
	<meta property="place:location:latitude" content="{{ rockLat }}">
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="https://www.munichclimbs.de/build/images/rock/{{ rockPreviewImage }}.jpg">


	<meta property="og:url" content="https://munichclimbs.de/Kletterfels/{{ slug }}"/>
	<meta property="og:description" content="{% for rock in rocks %}{{ rock.rockDescription}}{% endfor %}"/>
	<meta name="keywords" content="Klettertouren {{ slug|custom_replace }}: {% for route in routes %}{{ route.routeName}} {{ route.routeGrade}}{% if loop.last == false  %}, {% else %}{% endif %}{% endfor %}"/>
{% endblock %}

{% block title %}
	{{ setTitle }}
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig', [ rocks ]) }}
	<main>
		{% for rock in rocks %}
			<div class="image-container position-relative">
				{% if rock.rockheaderImage is not empty %}
					<div class="container my-3">
						<img class="rounded" src="{{ asset('https://www.munichclimbs.de/build/images/headerImages/' ~ rock.rockheaderImage ~ '.webp') }}" loading="lazy"/>
					</div>
				{% else %}
					<picture>
						<source media="(min-width: 1200px)" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-large-@1x.webp') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-large-@2x.webp') }} 2x, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-large-@3x.webp') }} 3x">
						<source media="(min-width: 800px)" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-medium-@1x.webp') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-medium-@2x.webp') }} @2, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-medium-@3x.webp') }} 3x">
						<img src="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~'-small-@1x.webp') }}" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-small-@2x.webp 2x') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ rock.rockImage ~ '-small-@3x.webp 3x') }}" alt=" {{ setTitle }}" loading="lazy">
					</picture>
				{% endif %}
				<div class="container my-3 position-absolute" style="top: 0; right: 0; left:0;">
					<div class="bg-image pb-3 rounded ">
						<div class="p-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between" style="background-color: rgba(255, 255, 255, 0.6);">
							<div class="d-flex flex-column w-100">
								<div class="d-flex align-items-center justify-content-between">
									<h1 class="h2 mb-0 fw-bold text-black">
										{{ rock.rockName }}
									</h1>
									<button class="btn btn-sm btn-primary d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24"><path fill="currentColor" d="M11 7v2h2V7zm3 10v-2h-1v-4h-3v2h1v2h-1v2zm8-5c0 5.5-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2s10 4.5 10 10m-2 0c0-4.42-3.58-8-8-8s-8 3.58-8 8s3.58 8 8 8s8-3.58 8-8"/></svg>
										<span class="ms-1 d-none d-md-block">{{ "rock"|trans }}</span>
									</button>
									{{ include('partials/_offcanvasRockInfo.html.twig', [ rocks ]) }}
								</div>
								<nav class="mt-1" aria-label="breadcrumb">
									<ol class="breadcrumb text-black fw-normal mb-0" style="font-size: 12px">
										<li class="breadcrumb-item">
											<a class="text-primary" href="{{path('index')}}">
												<span class="home d-inline-block"></span>
											</a>
										</li>
										<li class="breadcrumb-item">
											<a href="{{ path('show_rocks', { slug: rock.areaSlug }) }}">{{ rock.areaName }}</a>
										</li>
										<li class="breadcrumb-item active text-black" aria-current="page">{{ rock.rockName }}</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if topos is not empty %}
				<div class="bg-white border-top border-bottom sticky-top" style="top: 50px;">
					<div class="scrollable-tabs-container container position-relative" {{ stimulus_controller('tabs') }}>
						<div class="left-arrow">
							<svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
							</svg>
						</div>
						<ul class="p-0">
							{% for topo in topos %}
								<li>
									<a class="d-inline-block py-2 text-black fw-medium" href="#{{ topo.topoName|custom_replace|lower }}">{{ topo.topoName }}</a>
								</li>
							{% endfor %}
						</ul>
						<div class="right-arrow active">
							<svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
							</svg>
						</div>
					</div>
				</div>
			{% endif %}
			<section class="container">
				<div class="row">
					<div class="col-md-12">
						{% set currentDate =  "now"|date("z") %}
						{% if rock.rockBanned == 1 and currentDate < 181 %}
							<div class="alert alert-danger my-3" role="alert">
								<strong class="font-bold">Jahreszeitliche Sperrung!</strong>
								<span class="block sm:inline">{{ rock.rockName }}
									ist leider noch bis zum 30.06. gesperrt!</span>
							</div>
						{% endif %}
					</div>
				</div>
			</section>
		{% endfor %}
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					{% set groupedRoutes = {} %}
					{% for routeData in routes %}
						{% set topoName = routeData.topoName %}
						{% set topoNumber = routeData.topoNumber %}
						{% set topoSvg = routeData.topoSvg %}
						{% set groupedRoutes = groupedRoutes|merge({
(topoName): groupedRoutes[topoName]|default([])|merge([{'routeName': routeData.routeName, 'routeRating': routeData.routeRating, 'routeProtection': routeData.routeProtection, 'rockQuality': routeData.rockQuality, 'areaId': routeData.areaId, 'rockId': routeData.rockId, 'routeId': routeData.routeId, 'routefirstAscent': routeData.routefirstAscent, 'routeyearFirstAscent': routeData.routeyearFirstAscent, 'routeDescription': routeData.routeDescription, 'routeComment': routeData.routeComment, 'routeGrade': routeData.routeGrade, 'topoSvg': routeData.topoSvg, 'withSector': routeData.withSector, 'videoLink': routeData.videoLink}]) })
						%}
					{% endfor %}

					{% for topoName, routes in groupedRoutes %}
						<div class="card mt-3 overflow-hidden" id="{{ topoName|custom_replace|lower }}">
							<div class="card-body p-0">
								<section data-controller="route-information-tooltip">
									{% set hasWithSector = false %}
									{% for route in routes %}
										{% if route.withSector is not null and route.withSector %}
											{% set hasWithSector = true %}
										{% endif %}
									{% endfor %}
									{% set hasPrinted = false %}
									{% for route in routes %}
										{% if not hasPrinted %}
											{% if route.topoSvg is not empty %}
												{{ route.topoSvg|raw }}
											{% endif %}
											{% set hasPrinted = true %}
										{% endif %}
									{% endfor %}
									<table class="table table-striped mb-0 small fw-medium">
										<tbody>
											{% for route in routes %}
												<tr data-route-id="{{loop.index}}" data-route-information="{{ route.routeName }} {{ route.routeGrade }}">

													<td class="py-2">
														<span class="mb-0 pb-0" style="line-height: 0;">{{loop.index}}</span>
													</td>
													<td class="py-2">
														<div class="d-flex items-bottom">
															<span class="me-1 mb-0 pb-0">{{ route.routeName }}</span>
															<span class="mb-0 pb-0" style="line-height: 0;" data-controller="routeparams" data-routeparams-rating="{{ route.routeRating }}" data-routeparams-protection="{{ route.routeProtection }}" data-routeparams-route-rock-quality="{{ route.rockQuality }}">
																<span data-routeparams-target="rating"></span>
																<span data-routeparams-target="protection"></span>
																<span data-routeparams-target="route-rock-quality"></span>
															</span>
															{% if route.videoLink is not empty %}
																<a href="{{ route.videoLink }}" alt="Video von Route {{ route.routeName }} " target="_blank">
																	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" class="text-black"><path fill="currentColor" d="M15 8v8H5V8h10m1-2H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4V7c0-.55-.45-1-1-1z"/></svg>
																</a>
															{% endif %}
														</div>
													</td>
													<td class="py-2">
														<span class="mb-0 pb-0" style="line-height: 0;">{{ route.routeGrade }}</span>
													</td>
													<td class="d-none d-lg-table-cell py-2" style="white-space: nowrap;">
														<span class="mb-0 pb-0" style="line-height: 0;">{{ route.routefirstAscent }}
															{% if route.routeyearFirstAscent %}
																{{ route.routeyearFirstAscent }}
															{% endif %}
														</span>
													</td>
													<td class="py-2">
														{% if route.routeDescription or route.routeComment %}
															<div {{ stimulus_controller('modal-route-information') }}>
																<button class="btn btn-sm btn-white bg-white mb-0 p-0 border-0 shadow-none rounded-circle" data-action="modal-route-information#openModal" data-bs-toggle="modal" data-bs-target="#{{ route.routeName|custom_replace }}">
																	<div class="info" style="width: 22px; height: 22px"></div>
																</button>
																{{ include('partials/_modal-route-information.html.twig') }}
															</div>
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</section>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include 'partials/_footer.html.twig' with {'areas': areas} %}
	</main>
{% endblock %}
