{% extends 'base.html.twig' %}
{% set setTitle = 'Munichclimbs | Klettergebiet ' ~ areaName %}

{% block meta_tags %}
	<meta name="description" content="Felsen im Klettergebiet {{ areaName }}: {% for rock in rocks %}{{ rock.rockName }}{% if loop.last == false  %}, {% else %} {% endif %} {% endfor %}"/>

	<meta name="robots" content="index,follow"/>
	<meta property="og:site_name" content="{{ setTitle }}"/>
	<meta property="og:title" content="{{ setTitle }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://munichclimbs.de/Klettergebiet/{{ areaSlug }}"/>
	<meta property="og:description" content="Felsen im Klettergebiet {{ areaName }}: {% for rock in rocks %}{{ rock.rockName }}{% if loop.last == false  %}, {% else %} {% endif %} {% endfor %}"/>

{% endblock %}

{% block title %}
	{{ setTitle }}
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main>
		<div class="image-container position-relative">
			{% if areaImage is not empty %}
				<picture>
					<source media="(min-width: 1200px)" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-large-@1x.webp') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-large-@2x.webp') }} 2x, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-large-@3x.webp') }} 3x">
					<source media="(min-width: 800px)" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-medium-@1x.webp') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-medium-@2x.webp') }} @2, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-medium-@3x.webp') }} 3x">
					<img src="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-small-@1x.webp') }}" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-small-@2x.webp 2x') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-small-@3x.webp 3x') }}" alt="{{ setTitle }}" loading="lazy">
				</picture>
			{% else %}
				<div style="height: 100px"></div>
			{% endif %}
			<div class="container my-3 position-absolute" style="top: 0; right: 0; left:0;">
				<div class="bg-image pb-3 rounded ">
					<div class="p-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between" style="background-color: rgba(255, 255, 255, 0.6);">
						<h1 class="h3 mb-0 fw-bold text-black">
							{{ areaName }}
						</h1>
						{% include 'partials/_collapseMap.html.twig' with { collapseId: 'collapseAreaMap', ariaControls: 'collapseAreaMap' } %}
					</div>
				</div>
			</div>
		</div>
		<div class="container my-3">
			<section>
				<div class="collapse mt-3" id="collapseAreaMap">
					<div id="areaMap" class="z-10 mb-3" style="width: 100%; height: 500px;">
						{{ include('pageParts/areaMap.html.twig') }}
					</div>
				</div>
				<div class="row" data-controller="filter">
					<div class="col-12 col-md-8 order-2 order-lg-1">
						<div class="row">
							{% for rock in rocks %}
								<div class="col-12 rock-item" data-child-friendly="{{ rock.rockChild == 1 ? 'true' : 'false' }}" data-rock-sunny="{{ rock.rockSunny == 3 ? 'true' : 'false' }}" data-rock-rain="{{ rock.rockRain == 1 ? 'true' : 'false' }}" data-rock-train="{{ rock.rockTrain == 1 ? 'true' : 'false' }}">

									<a href="{{ path('show_rock', { 'areaSlug': rock.areaSlug, slug: rock.rockSlug }) }}" class="d-block text-black">
										<div class="card py-2 mb-2 card-body">
											<div class="row align-items-center">
												<div class="col-auto px-0">
													{% if rock.previewImage is defined and rock.previewImage is not null %}
														<picture>
															<source type="image/webp" srcset="https://www.munichclimbs.de/build/images/rock/{{ rock.previewImage }}.webp, https://www.munichclimbs.de/build/images/rock/{{ rock.previewImage }}@2x.webp 2x, https://www.munichclimbs.de/build/images/rock/{{ rock.previewImage }}@3x.webp 3x" loading="lazy">
															<img src="https://www.munichclimbs.de/build/images/rock/{{ rock.previewImage }}.webp" alt="Klettergebiet, {{ areaName}}, Fels: {{ rock.rockName }}" title="Klettergebiet, {{ areaName }}, Fels: {{ rock.rockName }}" loading="lazy" class="shadow d-inline-block" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
														</picture>
													{% else %}
														<div class="d-flex align-items-center justify-content-center shadow" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
															<svg alt="Klettergebiet, {{ areaName}}, Fels: {{ rock.rockName }}" title="Klettergebiet, {{ areaName }}, Fels: {{ rock.rockName }}" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24"><path fill="currentColor" d="M23 18H1l7.25-9.67l2 2.67L14 6zm-11.5-5.33L14 16h5l-5-6.67zM5 16h6.5l-3.25-4.33z"/></svg>
														</div>
													{% endif %}
												</div>
												<div class="col">
													<div class="overflow-hidden flex-nowrap">
														<div class="d-flex align-items-bottom justify-content-between">
															<h6 class="mb-0 text-reset d-inline-block text-truncate text-truncate-rock-name">{{rock.rockName}}</h6>
															<div class="d-flex align-items-center">
																<p class="small mb-0">{{ rock.rockHeight }}
																	m</p>
																<div class="mx-1" style="width: 1px; background-color: #000; height: 14px;"></div>
																<p class="small mb-0">{{ rock.rockOrientation }}</p>
															</div>
														</div>
														<div class="row align-items-center">
															<div class="col-12">
																<div class="row align-items-center g-0">
																	<div class="col-auto">
																		<small class="d-inline-block me-2" style="width: 2rem;">{{ rock.amountRoutes }}</small>
																	</div>
																	<div class="col">
																		<div class="d-flex align-items-center">
																			{% set percent = 100 / rock.amountRoutes %}
																			{% set easy = percent * rock.amountEasy %}
																			{% set middle = percent * rock.amountMiddle %}
																			{% set hard = percent * rock.amountHard %}
																			{% set project = percent * rock.amountProjects %}
																			<div class="progress d-flex" style="height: 1rem; width: 6rem;">
																				<div class="progress-bar" role="progressbar" style="width: {{ easy }}%; background-color: #15803d" aria-valuenow="{{ easy }}" aria-valuemin="0" aria-valuemax="100"></div>
																				<div class="progress-bar" role="progressbar" style="width: {{ middle }}%; background-color: #075985" aria-valuenow="{{ middle }}" aria-valuemin="0" aria-valuemax="100"></div>
																				<div class="progress-bar" role="progressbar" style="width: {{ hard }}%; background-color: #b91c1c" aria-valuenow="{{ hard }}" aria-valuemin="0" aria-valuemax="100"></div>
																				<div class="progress-bar" role="progressbar" style="width: {{ project }}%; background-color: black" aria-valuenow="{{ project }}" aria-valuemin="0" aria-valuemax="100"></div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-4 order-1 order-lg-2">
						<div class="card py-2 mb-2 card-body sticky-filter">
							<div class="row">
								<div class="col-12 mb-2">
									<h6 id="resultsCounter" class="mb-2">
										<span id="resultsCount">0</span>
										Felsen</h6>
								</div>
								<div class="col-3 col-md-6 mb-2">
									<div class="form-check form-switch">
										<input id="flexSwitchCheckDefault" class="form-check-input" type="checkbox" data-action="change->filter#filterItems" data-filter-target="childFriendly">
										<label class="form-check-label" for="flexSwitchCheckDefault">
											<div class="child-friendly"></div>
										</label>
									</div>
								</div>
								<div class="col-3 col-md-6 mb-2">
									<div class="form-check form-switch">
										<label class="form-check-label" for="sun">
											<div class="sun"></div>
										</label>
										<input id="sun" class="form-check-input" type="checkbox" data-action="change->filter#filterItems" data-filter-target="sunny">
									</div>
								</div>
								<div class="col-3 col-md-6 mb-2">
									<div class="form-check form-switch">
										<label class="form-check-label" for="rain">
											<div class="umbrella"></div>
										</label>
										<input id="rain" class="form-check-input" type="checkbox" data-action="change->filter#filterItems" data-filter-target="rain">
									</div>
								</div>
								<div class="col-3 col-md-6 mb-2">
									<div class="form-check form-switch">
										<label class="form-check-label" for="train">
											<div class="train"></div>
										</label>
										<input id="train" class="form-check-input" type="checkbox" data-action="change->filter#filterItems" data-filter-target="train">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		{% include 'partials/_footer.html.twig' with {'areas': areas} %}
	</main>
{% endblock %}
