<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
            <link href='https://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="sidebar-mini" style="height: auto;">

        {{ include('pageParts/navigation.html.twig') }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
       {% block body %}{% endblock %}
        


        {{ include('pageParts/footer.html.twig') }}


    </body>
</html>