{{ form_start(form) }}
    <div class="grid grid-cols-12 gap-4">
        {{ form_row(form.name) }}
        {{ form_row(form.area) }}
        {{ form_row(form.rock) }}
        {{ form_row(form.grade) }}
        {{ form_row(form.climbed) }}
        {{ form_row(form.firstAscent) }}
        {{ form_row(form.yearFirstAscent) }}
        {{ form_row(form.protection) }}
        {{ form_row(form.description) }}
        {{ form_row(form.scale) }}
        {{ form_row(form.gradeNo) }}
        {{ form_row(form.rating) }}
        {{ form_row(form.topoId) }}
        {{ form_row(form.nr) }}
    </div>
    <button class="inline-flex items-center h-10 px-5 text-white transition-colors duration-150 bg-green-700 rounded-lg focus:shadow-outline hover:bg-green-800">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
