{% extends 'base.html.twig' %}

{% block title %}Area index{% endblock %}

{% block body %}
    <h1>Area index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Orientation</th>
                <th>Sequence</th>
                <th>Online</th>
                <th>Image</th>
                <th>HeaderImage</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Zoom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.id }}</td>
                <td>{{ area.name }}</td>
                <td>{{ area.slug }}</td>
                <td>{{ area.orientation }}</td>
                <td>{{ area.sequence }}</td>
                <td>{{ area.online }}</td>
                <td>{{ area.image }}</td>
                <td>{{ area.headerImage }}</td>
                <td>{{ area.lat }}</td>
                <td>{{ area.lng }}</td>
                <td>{{ area.zoom }}</td>
                <td>
                    <a href="{{ path('app_area_show', {'id': area.id}) }}">show</a>
                    <a href="{{ path('app_area_edit', {'id': area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_area_new') }}">Create new</a>
{% endblock %}
